<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibeo</title>
    <link rel="stylesheet" type='text/css' href="../assets/index.css">
    <script type="text/javascript" src="../assets/drag_drop.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="../assets/logo.png" alt="Vibeo logo">
        </div>
        
        <div class="function-section">
            <form method="POST" action="http://127.0.0.1:8800/upload"  enctype="multipart/form-data" id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                <div class="choose-file">
                    <input type="file" name="file" id="file" class='inputfile'accept=".mp4" >
                    <label for="file"> Choose a file</label>
                    
                </div>
                <div id="filename"></div>
                

                <div class="divider">
                    <hr>
                        <span><h3>OR</h3></span>
                    <hr>
                </div>
                
                <div class="instuctions">
                    <h3>Drag and Drop File</h3>
                    <p>*.mp3 files only</p>
                </div>

               <div class="sub_btn">
                <button type="submit">Upload</button>
               </div> 
                
                

            </form>

            <div class="divider2">
                <hr>
                    <span><h3>OR</h3></span>
                <hr>
            </div>
                
            <div class="search-section">
                <input class = "search" type="search" placeholder="Enter youtube link...">
            </div>
            
        </div>

    </div>
    
   
</body>
</html>